<<<<<<< HEAD
body{
  background-color: #2c2c2c;
  color: whitesmoke;
  background-image: url("images/buried.png");
  background-size: cover;
  background-blend-mode: multiply;
}
/*main body layout*/
.body-layout {
	display: flex;
=======
body {
    background-color: black;
    color: #ffffff;
>>>>>>> 43991555c01dc1b014ec7c1752fc4ebdcd665849
}

.main {
	width: 86%;
}

<<<<<<< HEAD
=======
.intro {
    position: relative;
    width: 100%;
    top: 28px;
    min-height: 495px;
    background-color: red;
}

.intro h1 {
    position: absolute;
    top: 305px;
    left: 389px;
    text-shadow: 4px 4px 8px #000000;
    background: transparent;
    font-size: 2.5em;
    font-size: 50px;
}

.intro p {
    position: absolute;
    top: 399px;
    left: 262px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
    background: transparent;
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/* Nav-bar styling */
>>>>>>> 43991555c01dc1b014ec7c1752fc4ebdcd665849
.nav-bar {
	width: 14%;
	background-image: linear-gradient(to bottom,rgba(254,254,254,0.5), rgba(246, 246,246,0.1),rgba(246,246,246,0), rgba(246,246,246,0));
}

/*Navigation Bar*/
.nav-bar ul {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	list-style: none;
}

.nav-bar li{
	margin: none;
}

.nav-bar a{
	display: block;
	text-decoration: none;
	padding: 8px;
	color: black;
}

.nav-bar a:hover {
	background-color: silver;
}

/*Banner Section*/
.banner {
	position: absolute;
	width: 83%;
	background-color: rgba(150,150,150, 0.4);
	z-index: -1;
	min-height: 420px;
	box-shadow: 1px 1px 2px 2px black;
	border-radius: 18px;
	padding: 2px;
	margin-left: 20px;
}

/*Intro Section*/
.intro {
	padding: 6px;
	min-height: 424px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.intro-image {
	clip-path: circle(78%);
	box-shadow: 2px 3px 2px 1px black;
}

.intro-message {
	text-shadow: 2px 2px 4px black;
	text-align: center;
	font-size: 17px;
}