*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("images/buried.png");
    background-color: rgba(3, 66, 240, 0.212);
}

.header {
    display: flex;
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255);
}

/*header Image Section*/
.header #logo {
    margin-left: clamp(1rem, 2vw, 1.2rem); /*<= Adapt this insterd of px cause of dynmicness*/
}

.search {
    margin-left: clamp(1rem, 1.6vw, 1.5rem);
    margin-top: 26px;
}

.header #cart {
    margin-left: clamp(1rem, 80vw, 69rem);
    margin-top: 26px;
    cursor: pointer;
}

/*Nav Bar Section*/
.nav-bar {
    position: relative;
    width: 95%;
    margin-left: clamp(1rem, 25vw, 2.1rem);
    min-height: 3.1rem;
    background-color: rgba(124, 124, 124, 0.629);
    box-shadow: 0.7px 0.7px 0.7px rgb(52, 52, 52);
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar li {
    list-style: none;
}

.nav-bar a {
    display: block;
    padding: 12px;
    margin: 10px;
    text-decoration: none;
    color: whitesmoke;
}

.nav-bar a:hover {
    background-color: rgb(8, 134, 162);
}

/*Banner Section*/
.banner {
    position: absolute;
    width: 100%;
    background-color: rgba(192, 192, 192, 0.758);
    min-height: 180px;
    z-index: -1;
}

/*Main Section*/
.main {
    width: 92%;
    position: relative;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 15px;
    margin-left: 57px;
    text-align: center;
}

/*Intro Section*/
.intro {
    width: 100%;
    min-height: 320px;
    background-image: url("images/brushed-alum.png");
    background-color: rgba(46, 46, 46, 0.6);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 1px 0 1px black;
    position: relative;
}

.intro::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 47%;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.5) );
    pointer-events: none;
    z-index: 0;
}

.intro #greetings {
    margin-left: 2.1rem;
    font-weight: bold;
    font-size: 1.39rem;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.72);
    color: rgb(255, 255, 255);
    text-align: left;
    position: relative;
    z-index: 1;
}

.intro-image img {
    clip-path: circle(45%);
    position: relative;
    z-index: 1;
}

.intro-message {
    position: relative;
    z-index: 1;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.72);
}

.intro-service {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    background-image: url("images/brushed-alum.png");
    background-color: rgba(46, 46, 46, 0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 1px 1px black;
}

.intro-portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    background-image: url("images/brushed-alum.png");
    background-color: rgba(46, 46, 46, 0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 1px 1px black;
}

/*Main Content Section*/
.page-content {
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.486);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 1px black;
}

.page-content h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px black;
}

.main-contents {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    gap: 70px;
}

.details {
    display: flex;
    position: relative;
    margin-top: 40px;
    width: 100%;
    align-content: center;
    border-radius: 8px;
    gap: 16px;
}

.Details_Me {
    width: 70%;
    margin: 15px;
    position: relative;
    text-align: right;
    margin-left: 1px;
}

.Detail_Pic {
    width: 30%;
    min-height: 210px;
    margin: 15px;
    border-radius: 9px;
    background-image: url(images/office1.jpg);
    animation-name: myJourny;
    animation-duration: 21s;/*Animation Of pictures*/
}

@keyframes myJourny {
    0% {background-image: url(images/office2.jpg);}
    50% {background-image: url(images/office3.jpg);}
    100% {background-image: url(images/office4.jpg);}
}

.content-inner {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.content-title-about {
    width: 70%;
    position: relative;
    min-height: 190px;
    align-content: center;
    margin-left: 363px;
    color: rgb(13, 228, 174);
    border-radius: 9px;
    background-image: url(images/office2.jpg);
}

.content-about {
    margin: 8px;
}

.content-about h2 {
    width: 20%;
    text-align: left;
    font-size: 70px;
    background-color: rgba(156, 93, 216, 0.45);
    margin: 5px;
}

.content-about p {
    text-align: justify;
    margin: 5px;
}

.content-talents {
    box-shadow: 0.7px 0.7px 0.7px 0.7px rgb(52, 52, 52);
    border-radius: 12px;
    margin: 8px
}

.content-talents h2 {
    text-align: left;
    margin: 5px;
}

.content-talents p {
    text-align: justify;
    margin: 5px;
}

/*Portfolio Main content*/
.project-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.project-card1 {
    display: flex;
    margin: 8px;
    text-align: right;
    justify-content: center;
    box-shadow: 0.7px 0.7px 0.7px 0.7px rgb(36, 36, 36);
    padding: 5px;
    border-radius: 9px;
    gap: 14px;
}

.project-card2 {
    display: flex;
    margin: 8px;
    text-align: left;
    justify-content: center;
    box-shadow: 0.7px 0.7px 0.7px 0.7px rgb(36, 36, 36);
    padding: 5px;
    border-radius: 9px;
    gap: 14px;
}

.project-card3 {
    display: flex;
    margin: 8px;
    text-align: right;
    justify-content: center;
    box-shadow: 0.7px 0.7px 0.7px 0.7px rgb(36, 36, 36);
    padding: 5px;
    border-radius: 9px;
    gap: 14px;
}

/*Footer Section*/
.footer {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

/*Computer Software page content styling*/
.pcsoftware-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0.7px 0.7px 0.7px 0.7px rgb(52, 52, 52);
}

.pcsoftwareup {
    display: flex;
    margin: 8px;
    padding: 5px;
    gap: 11px;
    border-radius: 9px;
    box-shadow: 0.7px 0.7px 0.7px 0.7px rgb(36, 36, 36);
}

.pc-work {
    text-align: left;
}

/*Phone software page content styling*/
.phonesoftware-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0.7px 0.7px 0.7px 0.7px rgb(52, 52, 52);
}

.phonesoftware {
    display: flex;
    margin: 8px;
    padding: 5px;
    gap: 11px;
    border-radius: 9px;
    box-shadow: 0.7px 0.7px 0.7px 0.7px rgb(36, 36, 36);
}

/*Cart Styling*/
/* Modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* On top of everything */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
}

/* Modal content box */
    .modal-content {
      background-color: #fff;
      margin: 10% auto;
      padding: 20px;
      border-radius: 8px;
      width: 400px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

    .close {
      float: right;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }

    #cart-items {
      list-style: none;
      padding: 0;
    }

    #cart-items li {
      margin: 5px 0;
    }

    .purchase-button {
        float: right;
        border: none;
        border-radius: 5px;
        background-color: rgba(5, 74, 135, 0.796);
        color: black;
        cursor: pointer;
    }

.purchase-q {
    text-align: center;
}

.loyalCustReg {
    display: none;
}